<a href="https://colab.research.google.com/github/SuhailAhmad1/SuhailAhmad1/blob/main/python_assignment_solution.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ***Getting Data for a single page***

# Importing Important Libraries

In [4]:
import requests

import pandas as pd 
from bs4 import BeautifulSoup as bs

# Getting the response from Amazon

In [131]:
url = 'https://www.amazon.in/s?k=bags&crid=2M096C61O4MLT&qid=1653308124&sprefix=ba%2Caps%2C283&ref=sr_pg_1'
header = {"user-agent": "Mozilla/5.0 (Windows NT 11.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/74.0.3729.169 Safari/537.36" ,'referer':'https://www.google.com/'}
response = requests.get(url, headers = header)

In [132]:
soup = bs(response.content)

In [134]:
data_fields = soup.find_all('div', attrs={'data-component-type':'s-search-result'})

# Getting the Product Names

In [135]:
names_list=[]
names_raw = []
for row in data_fields:
  name_raw = row.find_all('span', attrs={'class': 'a-size-medium a-color-base a-text-normal'})
  names_list.append(name_raw[0].text)

In [113]:
names_list

["Lunar's Bingo - 48 L Laptop Office/School/Travel/Business Backpack Water Resistant - Fits Up to 15.6 Inch Laptop Notebook with 1 Year Warranty",
 'PALAY® BTS Student Backpack with Cable Vent, Backpack Travel Bag Students Backpack Laptop Bag',
 'American Tourister Casual Backpack',
 'LOVEVOOK Laptop Backpack Work Travel Backpack for Women Men 17 Inch Anti Theft Computer Bag Waterproof College Bookbag',
 'Half Moon 35 L Casual Waterproof Laptop Bag/Backpack for Men Women Boys Girls/Office School College Teens & Students with Rain Cover (18 Inch) (Navy)',
 'SAFARI 15 Ltrs Sea Blue Casual/School/College Backpack (DAYPACKNEO15CBSEB)',
 'TRUE HUMAN Emperor Anti-Theft backpack With USB charging Port and anti -theft back pocket Laptop bag , office bag , college bag ( LEGEND )',
 'Northzone Lightweight School Bags Backpacks for Boys Girls Stylish Men and Women Casual Travel Laptop Bag College Office (Navy Blue) 40L',
 'Fur Jaden 15.6 Inch Laptop Backpack 25 LTR Bag for School, College and Office with USB Charging Port',
 'Skybags Brat Black 46 Cms Casual Backpack',
 'Half Moon 35 L Casual Waterproof Laptop Bag/Backpack for Men Women Boys Girls/Office School College Teens & Students with Rain Cover (18 Inch) (Navy)',
 'POLESTAR Vintage 32 L College/ School/ Office/ Casual/ Travel Backpack with 15.6" laptop compartment, suitable for both men & women,1 year warranty',
 'Martucci 15.6 inch 30 L Casual Waterproof Laptop Backpack/Office Bag/School Bag/College Bag/Business Bag/Unisex Travel Backpack(Black)',
 'Fur Jaden Anti Theft Backpack 15.6 Inch Laptop Bag with USB Charging Port and Water Resistant Fabric',
 'Lenovo Slim Everyday Backpack',
 'ADISA Laptop Backpack 31 Ltrs',
 'SAFARI 15 Ltrs Denim Blue Casual/School/College Backpack (DAYPACKNEO15CBDNB)',
 'Gear Classic Anti Theft Faux Leather 18 inch 48 cms Brown Laptop Backpack (LBPCLSLTH0201)',
 "Lunar's Bingo - 48 L Laptop Office/School/Travel/Business Backpack Water Resistant - Fits Up to 15.6 Inch Laptop Notebook with 1 Year Warranty",
 "Lunar's Bingo - 48 L Laptop Office/School/Travel/Business Backpack Water Resistant - Fits Up to 15.6 Inch Laptop Notebook with 1 Year Warranty",
 'Urban Tribe Accelerator 30L Laptop Backpack with 15.6" compartment for Office/Business/Travel/College, Casual Bag for Men and Women, Black',
 'HEROZ Hammer Unisex Nylon 45 L Travel Laptop Backpack Water Resistant Slim Durable Fits Up to 17.3 Inch Laptop Notebook (All) (Grey & Black)']

# Getting The Product Ratings

In [136]:
ratings_list=[]
rat = []
for row in data_fields:
  rat = row.find_all('span', attrs={'class': 'a-icon-alt'})
  if(rat):
    ratings_list.append(rat[0].text)
  else:
    ratings_list.append('Not Available')

In [137]:
ratings_list

['Not Available',
 'Not Available',
 '4.1 out of 5 stars',
 '4.6 out of 5 stars',
 '3.9 out of 5 stars',
 '4.0 out of 5 stars',
 '3.9 out of 5 stars',
 '3.9 out of 5 stars',
 '4.0 out of 5 stars',
 '4.1 out of 5 stars',
 '3.9 out of 5 stars',
 '4.0 out of 5 stars',
 '4.1 out of 5 stars',
 '4.0 out of 5 stars',
 '4.0 out of 5 stars',
 '4.1 out of 5 stars',
 '4.0 out of 5 stars',
 '4.4 out of 5 stars',
 '3.9 out of 5 stars',
 '3.9 out of 5 stars',
 '4.1 out of 5 stars',
 '3.9 out of 5 stars']

#Getting Product Prices

In [138]:
prices_list = []
prices_raw = []
for row in data_fields:
  price_raw = row.find_all('span', attrs={'class':'a-offscreen'})
  if(price_raw):
    prices_list.append(price_raw[0].text)
  else:
    prices_list.append("NA")

In [139]:
prices_list

['₹1,699',
 '₹799',
 '₹999',
 'NA',
 '₹689',
 '₹299',
 '₹689',
 '₹499',
 '₹593',
 '₹599',
 '₹689',
 '₹619',
 '₹539',
 '₹799',
 '₹509',
 '₹512',
 '₹299',
 '₹890',
 '₹899',
 '₹899',
 '₹1,649',
 '₹899']

#Gettings Number of reviews

In [140]:
no_of_reviews_list = []
#<span class="a-size-base s-light-weight-text">16,715</span>
for row in data_fields:
  r = row.find_all('span', attrs={'class':'a-size-base'})
  if(r):
    no_of_reviews_list.append(r[0].text)
  else:
    no_of_reviews_list.append('NA')

In [141]:
no_of_reviews_list

['NA',
 'Only 5 left in stock.',
 '39,106',
 '99',
 '9,781',
 '13,419',
 '224',
 '8,165',
 '2,861',
 '1,341',
 '9,781',
 '5,602',
 '3,287',
 '10,512',
 '7,126',
 '1,714',
 '8,084',
 '3,981',
 '6,128',
 '6,128',
 '349',
 '6,128']

# Getting Product URLs

In [119]:
URLs_list = []

In [142]:
URLs_list = []
for row in data_fields:
  strr = row.find('a', attrs={'class':'s-no-outline'}).get('href')
  strr = 'https://www.amazon.in'+strr
  URLs_list.append(strr)

# Putting Data Together

In [ ]:
zipped = zip(names_list,prices_list,ratings_list,no_of_reviews_list,URLs_list)

In [ ]:
df = pd.DataFrame(zipped, columns=['Product Name','Product Price','Product_Rating','No. of Reviews','Product URL'])

In [ ]:
df

,Product Name,Product Price,Product_Rating,No. of Reviews,Product URL
0,American Tourister Casual Backpack,₹999,4.1 out of 5 stars,"39,106",https://www.amazon.in/American-Tourister-AMT-S...
1,Half Moon 35 L Casual Waterproof Laptop Bag/Ba...,₹689,3.9 out of 5 stars,"9,781",https://www.amazon.in/Half-Moon-Waterproof-Bac...
2,SAFARI 15 Ltrs Sea Blue Casual/School/College ...,₹299,4.0 out of 5 stars,"13,419",https://www.amazon.in/SAFARI-Ltrs-Casual-Backp...
3,TRUE HUMAN Emperor Anti-Theft backpack With US...,₹689,3.9 out of 5 stars,224,https://www.amazon.in/TRUE-HUMAN-Anti-Theft-ba...
4,Northzone Lightweight School Bags Backpacks fo...,₹593,4.0 out of 5 stars,"2,861",https://www.amazon.in/Northzone-Polyester-Scho...
5,Fur Jaden 15.6 Inch Laptop Backpack 25 LTR Bag...,₹499,3.9 out of 5 stars,"8,165",https://www.amazon.in/Casual-Backpack-Charging...
6,Skybags Brat Black 46 Cms Casual Backpack,₹599,4.1 out of 5 stars,"1,341",https://www.amazon.in/Skybags-Brat-Black-Casua...
7,Martucci 15.6 inch 30 L Casual Waterproof Lapt...,₹539,4.1 out of 5 stars,"3,287",https://www.amazon.in/Martucci-Casual-Travelli...
8,Fur Jaden Anti Theft Backpack 15.6 Inch Laptop...,₹799,4.0 out of 5 stars,"10,512",https://www.amazon.in/Fur-Jaden-Black-Waterpro...
9,ADISA Laptop Backpack 31 Ltrs,₹509,4.0 out of 5 stars,"7,126",https://www.amazon.in/ADISA-BP004-Weight-Casua...
10,SAFARI 15 Ltrs Denim Blue Casual/School/Colleg...,₹299,4.0 out of 5 stars,"8,084",https://www.amazon.in/SAFARI-Denim-Casual-Back...
11,Bennett Mystic 15.6 inch Laptop Shoulder Messe...,₹512,4.1 out of 5 stars,"1,714",https://www.amazon.in/Bennett-Mystic-Shoulder-...
12,Gear Classic Anti Theft Faux Leather 18 inch 4...,₹890,4.4 out of 5 stars,"3,981",https://www.amazon.in/Gear-Classic-Leather-Bac...
13,Lunar's Bingo - 48 L Laptop Office/School/Trav...,₹899,3.9 out of 5 stars,"6,128",https://www.amazon.in/Lunars-Bingo-Laptop-Resi...
14,Fur Jaden Hiking Camping Rucksack Casual 10 Lt...,₹249,3.6 out of 5 stars,"5,932",https://www.amazon.in/Fur-Jaden-Rucksack-Backp...
15,Lunar's Bingo - 48 L Laptop Office/School/Trav...,₹899,3.9 out of 5 stars,"6,128",https://www.amazon.in/Lunars-Bingo-Laptop-Resi...

# ***Getting the above data for first 20 pages***

In [ ]:
names_list = []
ratings_list = []
prices_list = []
URLs_list = []
no_of_reviews_list = []

for i in range(1, 21):
  #Generating Url for first 20 pages
  url = 'https://www.amazon.in/s?k=bags&page='+str(i)+'&crid=2M096C61O4MLT&qid=1653552543&sprefix=ba%2Caps%2C283&ref=sr_pg_'+str(i)
  header = {"user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/74.0.3729.169 Safari/537.36" ,'referer':'https://www.google.com/'}
  
  #getting response from each url
  response = requests.get(url, headers = header)
  soup = bs(response.content)
  
  #getting html data of each product for each page 
  data_fields = []
  data_fields = soup.find_all('div', attrs={'data-component-type':'s-search-result', 'class':"s-result-item s-asin sg-col-0-of-12 sg-col-16-of-20 sg-col s-widget-spacing-small sg-col-12-of-16"})


  #getting names of each product for each page
  names_raw = []
  for row in data_fields:
    name_raw = row.find_all('span', attrs={'class': 'a-size-medium a-color-base a-text-normal'})
    names_list.append(name_raw[0].text)

  #getting ratings of each product for each page
  rat = []
  for row in data_fields:
    rat = row.find_all('span', attrs={'class': 'a-icon-alt'})
    if(rat):
      ratings_list.append(rat[0].text)
    else:
      ratings_list.append("NOT AVAILABLE")
  
  #getting prices of each product for each page
  prices_raw = []
  for row in data_fields:
    price_raw = row.find_all('span', attrs={'class':'a-offscreen'})
    if(price_raw):
      prices_list.append(price_raw[0].text)
    else:
      prices_list.append("NOT AVAILABLE")
  
  #getting url of each product on each page
  for row in data_fields:
    strr = row.find('a', attrs={'class':'s-no-outline'}).get('href')
    strr = 'https://www.amazon.in'+strr
    URLs_list.append(strr)

  #getiing no_of_reviews for each product on each page
  r = []
  for row in data_fields:
    r = row.find_all('span', attrs={'class':'a-size-base'})
    if(r):
      no_of_reviews_list.append(r[0].text)
    else:
      no_of_reviews_list.append('NA')

In [145]:
zippe = zip(names_list,prices_list,ratings_list,no_of_reviews_list,URLs_list)

In [146]:
df = pd.DataFrame(zippe, columns=['Product Name','Product Price','Product_Rating','No. of Reviews','Product URL'])
df

,Product Name,Product Price,Product_Rating,No. of Reviews,Product URL
0,American Tourister Casual Backpack,₹999,4.1 out of 5 stars,"39,106",https://www.amazon.in/American-Tourister-AMT-S...
1,Half Moon 35 L Casual Waterproof Laptop Bag/Ba...,₹689,3.9 out of 5 stars,"9,781",https://www.amazon.in/Half-Moon-Waterproof-Bac...
2,SAFARI 15 Ltrs Sea Blue Casual/School/College ...,₹299,4.0 out of 5 stars,"13,419",https://www.amazon.in/SAFARI-Ltrs-Casual-Backp...
3,TRUE HUMAN Emperor Anti-Theft backpack With US...,₹689,3.9 out of 5 stars,224,https://www.amazon.in/TRUE-HUMAN-Anti-Theft-ba...
4,Fur Jaden 15.6 Inch Laptop Backpack 25 LTR Bag...,₹499,3.9 out of 5 stars,"8,165",https://www.amazon.in/Casual-Backpack-Charging...
...,...,...,...,...,...
301,Beauty Girls®-1522 Polyester Floral printed De...,₹879,4.3 out of 5 stars,123,https://www.amazon.in/Girls-1522-Polyester-Des...
302,POLESTAR Enzo 35 L College/ School/ Office/ Ca...,₹699.36,4.2 out of 5 stars,"2,653",https://www.amazon.in/Polestar-Liters-Polyeste...
303,Urban Tribe Accelerator 30L Laptop Backpack wi...,"₹1,649",4.1 out of 5 stars,349,https://www.amazon.in/Urban-Tribe-Laptop-Backp...
304,Protecta Bolt 30 L Backpack for Laptops Up to ...,₹479,NOT AVAILABLE,More Buying Choices,https://www.amazon.in/Protecta-Bolt-Backpack-L...
305,ADISA Women's & Girls' Sling Bag,₹399,4.2 out of 5 stars,"1,455",https://www.amazon.in/ADISA-Womens-Girls-Sling...

In [154]:
df.to_csv("Python_assignment_data.csv", index=None)